<div class="statblock">
  <div class="header">

  </div>
  
  <div class="basic_attributes">

  </div>

  <div class="stats">
    
    <label for="strength">str</label><span id="strength"></span>
    <label for="dexterity">dex</label><span id="dexterity"></span>
    <label for="constitution">con</label><span id="constitution"></span>
    <label for="intelligence">int</label><span id="intelligence"></span>
    <label for="wisdom">wis</label><span id="wisdom"></span>
    <label for="charisma">cha</label><span id="charisma"></span>

  </div>

  <div class="detailed_attributes">
  </div>

  <div class="features">
  </div>

  <div class="actions">
  </div>

</div>
